NODE_ENV=develop

# Database URL
DATABASE_URL = xxxxx

# Ask Story Protocol team to set up the variables
NEXT_PUBLIC_API_BASE_URL = https://stag.api.storyprotocol.net

NEXT_PUBLIC_STORY_PROTOCOL_CONTRACT = 0xD0060D8e88DD841FD32A01B18a9C7e84A1C7d6d4
NEXT_PUBLIC_IP_ASSET_REGISTRY_CONTRACT= 0x309C205347E3826472643f9B7EbD8A50D64CCd9e
NEXT_PUBLIC_IP_ORG_CONTROLLER_CONTRACT = 0xd778680fD9fa788A2fd6465087e6841814eE57CC
NEXT_PUBLIC_RELATIONSHIP_MODULE_CONTRACT = 0x4231c45C32B53Ba61D8d04aD05255CCBF3E5DBD2
NEXT_PUBLIC_REGISTRATION_MODULE_CONTRACT = 0x948f67E1C4F75Bc89C5fb42147d96356fb4B359f
NEXT_PUBLIC_LICENSE_REGISTRY_CONTRACT = 0x630d6672D6C15952852ca2Ff0A355d19f259400B
NEXT_PUBLIC_MODULE_REGISTRY_CONTRACT = 0x8209442D02FB517Bdb9099E8Ade3968762F8545A

# RPC Endpoint for Goerli Testnet
RPC_URL=https://1rpc.io/sepolia

# Private key of the wallet to interact with Story Protocol SDK
PRIVATE_KEY=XXXXX

# the folder path of the image to be uploaded
IMAGE_PATH=XXXXX

# the id of ip orgs
IP_ORGS=XXXXX,XXXXX,XXXXX
